name: Build AOSP 11 for Sagit (No GMS)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
          sudo apt-get clean

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential zip curl libstdc++6 git wget python3 python3-pip libssl-dev rsync flex bison gperf libxml2-utils
          sudo curl https://storage.googleapis.com/git-repo-downloads/repo > /usr/local/bin/repo
          sudo chmod a+x /usr/local/bin/repo

      - name: Sync and Build
        run: |
          git config --global user.email "build@aosp.com"
          git config --global user.name "AOSP Builder"
          mkdir aosp && cd aosp
          repo init -u https://android.googlesource.com/platform/manifest -b android-11.0.0_r40 --depth=1
          mkdir .repo/local_manifests
          cat <<EOF > .repo/local_manifests/sagit.xml
          <?xml version="1.0" encoding="UTF-8"?>
          <manifest>
            <project name="AOSP-11/device_xiaomi_sagit" path="device/xiaomi/sagit" remote="github" revision="11" />
            <project name="AOSP-11/device_xiaomi_msm8998-common" path="device/xiaomi/msm8998-common" remote="github" revision="11" />
            <project name="AOSP-11/vendor_xiaomi" path="vendor/xiaomi" remote="github" revision="11" />
            <project name="AOSP-11/kernel_xiaomi_msm8998" path="kernel/xiaomi/msm8998" remote="github" revision="11" />
          </manifest>
          EOF
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags
          source build/envsetup.sh
          breakfast sagit
          make -j$(nproc --all)

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: AOSP-Sagit-ROM
          path: aosp/out/target/product/sagit/*.zip
